<div class="wrapper-main grid-pad">
    <section class="col-1-6" id="reservations">
    </section>
    <form id="update-form" name="update-form" class="col-10-12">
        <div class="update-separator">Information</div>
        <section id="description-form" class="section">
            <label for="description">Description:</label>
            <textarea rows="4" cols="50" id="description" class="description-area" name="description" form="update-form"></textarea>
            <label for="linkSocial">Social link:</label>
            <input id="linkSocial" name="linkSocial">

            <label for="name">Name:</label>
            <input id="name" name="name">

        </section>

        <div class="update-separator">Images</div>
        <section  id="pictures-form" class="section">
            <div id="img-wrapper">
            </div>
        </section>

        <div class="update-separator">Schedule</div>
        <section id="schedule-form" class="section clearfix"></section>

        <div class="update-separator">Features</div>
        <section id="feature-form" class="section"></section>

        <div class="update-separator">Location</div>
        <section id="address-form" class="section">
            <div id="map"></div>
            <input name="latitude" type="hidden">
            <input name="longitude" type="hidden">


            <div class="popup" id="mapPopup" data-popup="popup-map">
                <div class="popup-inner" id="innerPopup">
                    <div id="map2"></div>
                    <a class="popup-close" id="closePopup" href="#" data-popup-close="popup-map">x</a>
                </div>
            </div>
            <label for="street">Street:</label>
                <input id="street" name="street">

        </section>

        <input class="btn-green" type="submit" value="Save">
    </form>
</div>
