<div class="login">
    <header  class="login-header"><span class="text">LOGIN</span><span class="loader"></span></header>
    <form id="login-form" class="login-form" >
        <input id="username" type="text" placeholder="Username" class="login-input"/>
        <input id="password" type="password" placeholder="Password" class="login-input"/>
        <button type="submit" id="loginButton" name="loginButton"  class="login-btn">login</button>
    </form>
</div>
