<div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content grid">
        <span id="profile-close" class="close">x</span>
        <div class="col-1-2">
        <div class="user-details-profile">
            <div id="photo">
                <img src={{picture}}>
            </div>
            <div id="username">
                <p>{{username}}</p>
            </div>
        </div>
        <p>Reservation history:</p>
        <div class="my-reservations">
            <table class="evenodd">
                <tr>
                    <th>Restaurant</th>
                    <th class="table-header-date">Date</th>
                    <th>Hour</th>
                    <th>Status</th>
                </tr>
                {{#each reservation}}
                        <tr class="table-raw-profile">
                            <td class="reservation-restaurant">{{restaurant.name}}</td>
                            <td class="reservation-date">{{date}}</td>
                            <td class="reservation-hour">{{hour}}</td>
                            <td class="reservation-status">{{reservationStatus}}</td>
                        </tr>
                {{/each}}
            </table>
        </div>
        </div>

        <div class="restaurants-my-profile col-1-2">
            <p>Your favorite restaurants</p>
            <ul class="">
                {{#each restaurants}}
                    <li class="">
                        <div class="col-1-1 restaurant-item-list-profile">
                            <a href="#restaurant/{{id}}" class="restaurant-anchor" id="restaurant{{id}}profile">
                                <p class="restaurant-name">{{name}}</p>
                            </a>
                        </div>
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>