<ul class="relative filter-homepage-padding">
    {{#each .}}
        <li class="category-filter clearfix">
            <p class="green-text">{{@key}}</p>
            <div id="{{@key}}">
                {{#each .}}
                    <div class="checkbox-element checkbox-onclick"  >
                        <input class="filter-criteria" type="checkbox"
                               value='{{this}}' name="{{this}}" id="{{this}}">
                        <label class="binding" for="{{this}}">{{this}}
                        </label>
                    </div>
                {{/each}}
            </div>
        </li>
        <div class="line-separator"></div>
    {{/each}}
</ul>