<ul class="grid grid-pad relative">
    {{#each .}}
        <li>
            <div class="grid grid-pad">
                <p class="col-3-12">{{@key}}</p>
                <div id="{{@key}}" class="col-9-12">
                    {{#each .}}
                        <div class="col-1-3"  >
                            <input type="checkbox" value={{this}} name="{{this}}">
                            <label for="{{this}}">{{this}}</label>
                        </div>
                    {{/each}}
                </div>
            </div>
            <div class="line-separator"></div>
        </li>
    {{/each}}
</ul>
