<div id="mapDetails">
</div>

<div id="popupMap" class="popup" data-popup="popup-map">
    <div class="popup-inner">
        <div id="mapDetailsPopup">

        </div>
        <a class="popup-close" data-popup-close="popup-map" href="#">x</a>
    </div>
</div>