<img class="mySlides" id="img-holder" src=""><br>
    <label for="img-path">Path: </label>
        <textarea id="img-path" value=""></textarea>

<section id="img-selector-wrapper" class="select-container clearfix">
    {{#each .}}
        <div class="img-group">
            <img class="select" src="{{path}}" data-id="{{id}}"><span class="delete-img-button" data-id="{{id}}"></span>
            <input name="{{id}}" value={{path}} type="hidden">
        </div>
    {{/each}}
    <a id="add-image-btn"><i class="fa fa-plus-square"></i></a>
</section>
