<p class="details-title"> {{restaurantName}} Ratings  </p>
<div class="rating-section-container">
    <div class="col-1-4 rating-div">
        <div class="innerLeftDiv">
            <p class="ratingLeftText"> 5 </p>
            <hr class="rating-statistic"/>
        </div>
        <div class="innerLeftDiv">
            <p class="ratingLeftText"> 4 </p>
            <hr class="rating-statistic"/>
        </div>
        <div class="innerLeftDiv">
            <p class="ratingLeftText"> 3 </p>
            <hr class="rating-statistic"/>
        </div>
        <div class="innerLeftDiv">
            <p class="ratingLeftText"> 2 </p>
            <hr class="rating-statistic"/>
        </div>
        <div class="innerLeftDiv">
            <p class="ratingLeftText"> 1 </p>
            <hr class="rating-statistic"/>
        </div>
        <p style="padding-top: 15px; padding-left:15px;margin: 0; font-size: 14px"> 93% would recommend it to a friend</p> <!--MOCKED-->
    </div>

    <div class="col-3-4 rating-div">
        <div class="overAllRatingUpperContainer">
                <p class="overAllRating">{{rating}}</p>
                <div class="starRating">
                    <p> Overall Rating </p>
                    <div class="star-ratings-css">
                        <div id="starPercentage" class="star-ratings-css-top">
                            <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                        <div class="star-ratings-css-bottom">
                            <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                    </div>
                </div>
        </div>

        <div class="innerRatingContainer">
            <div class="ratingCategory">
                <p class="ratingCategoryText"> FOOD </p>
                <p class="ratingCategoryValue">{{foodRating}}</p>
            </div>
            <div class="ratingCategory">
                <p class="ratingCategoryText">AMBIENCE</p>
                <p class="ratingCategoryValue">{{ambienceRating}}</p>
            </div>
            <div class="ratingCategory">
                <p class="ratingCategoryText">VALUE</p>
                <p class="ratingCategoryValue">{{valueRating}}</p>
            </div>
            <div class="ratingCategory">
                <p class="ratingCategoryText">SERVICE</p>
                <p class="ratingCategoryValue">{{serviceRating}}</p>
            </div>
            <div class="ratingCategory">
                <p class="ratingCategoryText">NOISE</p>
                <p class="ratingCategoryValue">{{noiseRating}}</p>
            </div>
        </div>
    </div>
</div>