{{#each .}}
<div class="ticket {{reservationStatus}}-ticket" data-id="{{id}}">
    <label class="ticket-data">Name: {{name}}</label>
    <label class="ticket-data">Date: {{date.[0]}}.{{date.[1]}}.{{date.[2]}}</label>
    <label class="ticket-data">Hour: {{formatTime hour}}</label>
    <label class="ticket-data">People: {{nrPersons}}</label>

    {{#if_eq reservationStatus "PENDING"}}
        <textarea id="ticket-message">Have a nice day.</textarea>
        <div class="button-wrapper">
            <button class="accept btn-green" name="status" value="CONFIRMED">Accept</button>
            <button class="decline btn-red" name="status" value="DENIED">Decline</button>
        </div>
    {{else}}
        {{#if_eq reservationStatus "CONFIRMED"}}
            <div class="button-wrapper">
                <button class="done btn-green" name="status" value="DONE">Done</button>
                <button class="noShow btn-red" name="status" value="NO_SHOW">No Show</button>
            </div>
        {{/if_eq}}
    {{/if_eq}}
</div>
{{/each}}