<div class="grid grid-pad reservation-selections">
    <div class="col-1-3 reservation-selection-item">
        <p class="reservation-input-title">Number of persons: </p>
        <span class="reservation-input">
                <select id = 'reservePersonInput'>
                    <option selected>1</option>
                    {{#times 10}}
                        <option value="{{this}}" >{{this}}</option>
                    {{/times}}
                </select>
                <i class="fa fa-caret-down"></i>
            </span>
    </div>
    <div class="col-1-3 reservation-selection-item">
        <p class="reservation-input-title">Date: </p>
        <span class="reservation-input">
                <input id="reserveDateInput" type="text" data-field="date" readonly >
                <i class="fa fa-caret-down"></i>
            </span>
        <p id="reserveDateInputError" class="error-text hidden"></p>
    </div>
    <div class="col-1-3 reservation-selection-item">
        <p class="reservation-input-title">Time: </p>
        <span class="reservation-input">
                <input id ="reserveTimeInput" type="text" data-field="time" readonly >
                <i class="fa fa-caret-down"></i>
            </span>
        <p id="reserveTimeInputError" class="error-text hidden"></p>
    </div>
    <div class="col-1-1 date-picker-box" id="dtBoxBar">
        <div class="dtpicker-subcontent">
            <div class="dtpicker-header">
                <div class="dtpicker-title dtpicker-restyle">Set Time</div>
                <a class="dtpicker-close">×</a>
                <div class="dtpicker-value"></div>
            </div>
            <div class="dtpicker-components">
                <div class="dtpicker-compOutline dtpicker-comp2">
                    <div class="dtpicker-comp hour">
                        <a class="dtpicker-compButton increment dtpicker-compButtonEnable">+</a>
                        <input type="text" class="dtpicker-compValue">
                        <a class="dtpicker-compButton decrement dtpicker-compButtonEnable">-</a>
                    </div>
                </div>
                <div class="dtpicker-compOutline dtpicker-comp2">
                    <div class="dtpicker-comp minutes">
                        <a class="dtpicker-compButton increment dtpicker-compButtonEnable">+</a>
                        <input type="text" class="dtpicker-compValue">
                        <a class="dtpicker-compButton decrement dtpicker-compButtonEnable">-</a>
                    </div>
                </div>
            </div>
            <div class="dtpicker-buttonCont dtpicker-twoButtons">
                <a class="dtpicker-button dtpicker-buttonSet">Set</a>
                <a class="dtpicker-button dtpicker-buttonClear">Clear</a>
            </div>
        </div>
    </div>
    <div id="popupConfirmation" class="popup" data-popup="popup-reservation">
        <div id="popupInnerConfirmation" class="popup-inner">
            <div id="reservationConfirmationContainer">
            </div>
            <a class="popup-close" data-popup-close="popup-reservation" href="#">x</a>
        </div>
    </div>
</div>