<div class="restaurants">
    <ul>
        {{#each .}}
            <li class="col-1-3">
                <div class="col-1-1 restaurant-item-list">
                    <a href="#restaurant/{{id}}" class="restaurant-anchor" id="restaurant{{id}}">
                        <p class="restaurant-name">{{name}}</p>
                        <div class="restaurant-details">
                            {{#each features}}
                                <p class="restaurant-detail-item">{{name}}</p>
                            {{/each}}
                        </div>
                    </a>
                    <a class="fa fa-rocket" data-restaurant-id="{{id}}"></a>
                </div>
            </li>
        {{/each}}
    </ul>
</div>