<nav id="navMenuForDetails" class="fixed-nav-bar">
    <span id="detailsNavOption" class="nav-container invisible">
        <ul>
            <li><a href="http://localhost:8080/reservecluj" id="homePageMenuItem" class="details-nav fa fa-home" aria-hidden="true"></a></li>
            <li><a href="#reservationSection" id="reservationMenuItem" class="details-nav fa fa-calendar" aria-hidden="true"></a></li>
            <li><a href="#detailsSection" id="detailsMenuItem" class="details-nav fa fa-wpforms" aria-hidden="true"></a></li>
            <li><a href="#ratingSection" id="ratingMenuItem" class="details-nav fa fa-star-o" aria-hidden="true"></a></li>
        </ul>
    </span>
    <span class="open-close-nav-container">
        <a href="#" id="openDetailsMenu" class="fa fa-arrow-right" aria-hidden="true"></a>
    </span>

</nav>
<section id="imageCarousel">
    <p class="reservation-title">Reserve a table at {{name}}</p>
</section>
<section id="reservationSection">
    <p class="details-title">Make a reservation</p>
</section>
<section id="detailsSection">
    <div class="details-container">
        <p class="details-title">About {{name}}</p>
        <div id="mapContainer" class="map-container"></div>
        <p class="details-paragraphs text-indented description-paragraph">{{description}}</p>
        <div class="grid grid-pad">
            <div id="currentAddress" class="col-1-3 details-cell">
                <span class="fa fa-map details-icon" aria-hidden="true"></span>
                <span class="green-text">Address</span>
            </div>
            <div id="currentSchedule" class="col-1-3 details-cell">
                <span class="fa fa-clock-o details-icon" aria-hidden="true"></span>
                <span class="green-text">Schedule</span>
            </div>
            <div class="col-1-3 details-cell">
                <span class="fa fa-phone details-icon" aria-hidden="true"></span>
                <span class="green-text">Contact</span>
                <br>
                <a href="{{linkSocial}}">Facebook</a>
            </div>
            <div id="currentGeneral" class="col-1-2 details-cell">
                <span class="fa fa-check details-icon" aria-hidden="true"></span>
                <span class="green-text">General features</span>
            </div>
            <div id="currentCuisine" class="col-1-2 details-cell">
                <span class="fa fa-cutlery details-icon" aria-hidden="true"></span>
                <span class="green-text">Cuisine</span>
            </div>
        </div>
    </div>
</section>
<section id="ratingSection" class="rating-section">
</section>
<section id="reviewComments" class="comments-section">
</section>