<div>
    <div id="home-page-button-container">
        <button class="btn-green" id='homePageButton'>Home Page</button>
    </div>
    <div class="review-page-information">
    <p>Review for the reservation already exists</p>
    </div>
</div>