<div class="review-container" id="reviewPage">
    <div id="home-page-button-container">
        <button class="btn-green" id='homePageButton'>Home Page</button>
    </div>
    <div class=" review-inner-container" id="reviewPageContainer">
        <p class="filter-title">Review for {{name}}</p>
        <p>Food rating:</p>
        <input class="foodStar foodStar-5" id="foodRating-5" type="radio" name="foodRating"
               value="5"/>
        <label class="foodStar foodStar-5" for="foodRating-5"></label>
        <input class="foodStar foodStar-4" id="foodRating-4" type="radio" name="foodRating"
               value="4"/>
        <label class="foodStar foodStar-4" for="foodRating-4"></label>
        <input class="foodStar foodStar-3" id="foodRating-3" type="radio" name="foodRating"
               value="3"/>
        <label class="foodStar foodStar-3" for="foodRating-3"></label>
        <input class="foodStar foodStar-2" id="foodRating-2" type="radio" name="foodRating"
               value="2"/>
        <label class="foodStar foodStar-2" for="foodRating-2"></label>
        <input class="foodStar foodStar-1" id="foodRating-1" type="radio" name="foodRating"
               value="1"/>
        <label class="foodStar foodStar-1" for="foodRating-1"></label>
        <p>Ambience rating:</p>
        <input class="ambienceStar ambienceStar-5" id="ambienceRating-5" type="radio"
               name="ambienceRating" value="5"/>
        <label class="ambienceStar ambienceStar-5" for="ambienceRating-5"></label>
        <input class="ambienceStar ambienceStar-4" id="ambienceRating-4" type="radio"
               name="ambienceRating" value="4"/>
        <label class="ambienceStar ambienceStar-4" for="ambienceRating-4"></label>
        <input class="ambienceStar ambienceStar-3" id="ambienceRating-3" type="radio"
               name="ambienceRating" value="3"/>
        <label class="ambienceStar ambienceStar-3" for="ambienceRating-3"></label>
        <input class="ambienceStar ambienceStar-2" id="ambienceRating-2" type="radio"
               name="ambienceRating" value="2"/>
        <label class="ambienceStar ambienceStar-2" for="ambienceRating-2"></label>
        <input class="ambienceStar ambienceStar-1" id="ambienceRating-1" type="radio"
               name="ambienceRating" value="1"/>
        <label class="ambienceStar ambienceStar-1" for="ambienceRating-1"></label>
        <p>Noise level:</p>
        <label for="noiseLevel"></label><select name="noiseLevel" id="noiseLevel"
                                                class="noiselevel-dropdown">
        <option value="HIGH">High</option>
        <option value="MODERATE">Moderate</option>
        <option value="LOW">Low</option>
    </select>
        <p>Service rating:</p>
        <input class="serviceStar serviceStar-5" id="serviceRating-5" type="radio"
               name="serviceRating" value="5"/>
        <label class="serviceStar serviceStar-5" for="serviceRating-5"></label>
        <input class="serviceStar serviceStar-4" id="serviceRating-4" type="radio"
               name="serviceRating" value="4"/>
        <label class="serviceStar serviceStar-4" for="serviceRating-4"></label>
        <input class="serviceStar serviceStar-3" id="serviceRating-3" type="radio"
               name="serviceRating" value="3"/>
        <label class="serviceStar serviceStar-3" for="serviceRating-3"></label>
        <input class="serviceStar serviceStar-2" id="serviceRating-2" type="radio"
               name="serviceRating" value="2"/>
        <label class="serviceStar serviceStar-2" for="serviceRating-2"></label>
        <input class="serviceStar serviceStar-1" id="serviceRating-1" type="radio"
               name="serviceRating" value="1"/>
        <label class="serviceStar serviceStar-1" for="serviceRating-1"></label>
        <p>Value rating:</p>
        <input class="valueStar valueStar-5" id="valueRating-5" type="radio" name="valueRating"
               value="5"/>
        <label class="valueStar valueStar-5" for="valueRating-5"></label>
        <input class="valueStar valueStar-4" id="valueRating-4" type="radio" name="valueRating"
               value="4"/>
        <label class="valueStar valueStar-4" for="valueRating-4"></label>
        <input class="valueStar valueStar-3" id="valueRating-3" type="radio" name="valueRating"
               value="3"/>
        <label class="valueStar valueStar-3" for="valueRating-3"></label>
        <input class="valueStar valueStar-2" id="valueRating-2" type="radio" name="valueRating"
               value="2"/>
        <label class="valueStar valueStar-2" for="valueRating-2"></label>
        <input class="valueStar valueStar-1" id="valueRating-1" type="radio" name="valueRating"
               value="1"/>
        <label class="valueStar valueStar-1" for="valueRating-1"></label>
        <p class="review-message-header">Message:</p>
        <textarea id="reviewMessage" class="review-message"  rows="10" placeholder="Input your Message"></textarea>
        <div class="error-text" id="information"></div>
        <input type="submit" id="reviewPageSubmit" class="btn-green" value="Send review">
        <input type="hidden" id="restaurantId" value="{{restaurantId}}">
        <input type="hidden" id="reservationId" value="{{reservationId}}">
    </div>
</div>