<div class="comments-section-container">
    {{#each reviews }}
        <div class="commentContainer">
            <div class="col-4-5">
                <div class="commentHeader">
                    <div class="star-ratings-css commentStars">
                        <div id="stars{{review.id}}" class="star-ratings-css-top">
                            <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                        <div class="star-ratings-css-bottom grayCommentStars">
                            <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                    </div>
                    <i class="fa fa-user userIcon" aria-hidden="true"></i>
                    <p class="commentDate ratingCategoryText"> {{review.date}}</p>
                </div>
                <p class="commentMessageParagraph details-paragraphs">{{review.message}}</p>
            </div>
            <div class="col-1-5">
                <p class="ratingCategoryText ratingSeparator"> FOOD <span class ="commentScoreFont"> {{review.foodRating}} </span> </p>
                <p class="ratingCategoryText ratingSeparator"> VALUE <span class ="commentScoreFont"> {{review.valueRating}} </span></p>
                <p class="ratingCategoryText ratingSeparator"> AMBIENCE <span class ="commentScoreFont"> {{review.ambienceRating}} </span> </p>
                <p class="ratingCategoryText ratingSeparator"> SERVICE <span class ="commentScoreFont"> {{review.serviceRating}} </span> </p>
                <br/>
            </div>
        </div>
    {{/each}}
</div>