<div class="col-1-2 subscription-container">
    <div class="subscription-form-wrapper">
        <h3 class="subscription-headline"> Most popular restaurant</h3><br>
        <p> Get latest offers from the most popular restaurant</p><br/>
        <form id="subscriptionForm" class="clearfix" action="#notify">
            <input class="newsletter-email" type="text" name="email" placeholder="Email Address">
            <input class="newsletter-submit" type="submit" value="Notify">
        </form>
    </div>
</div>
<div class="col-1-2 most-popular-restaurant">
    <img src="images/header_image.jpg">
</div>

