<div class="col-1-2 reservation-selection-item">
    <p class="reservation-input-title">Weekdays Opening: </p>
    <span class="reservation-input">
            <input type="text" data-field="time" value="{{formatTime workDaysOpeningHour}}" name="workDaysOpeningHour" readonly>
            <!--<label for="workDaysOpeningHour" class="fa fa-caret-down"></label>-->
        </span>
</div>
<div class="col-1-2 reservation-selection-item">
    <p class="reservation-input-title">Weekdays Closing: </p>
    <span class="reservation-input">
            <input type="text" data-field="time" value="{{formatTime workDaysClosingHour}}" name="workDaysClosingHour" readonly>
            <!--<label for="workDaysClosingHour" class="fa fa-caret-down"></label>-->
        </span>
</div>
<div class="col-1-2 reservation-selection-item">
    <p class="reservation-input-title">Weekend Opening: </p>
    <span class="reservation-input">
            <input type="text" data-field="time" value="{{formatTime weekendDaysOpeningHour}}" name="weekendDaysOpeningHour" readonly>
            <!--<label for="weekendDaysOpeningHour" class="fa fa-caret-down"></label>-->
        </span>
</div>
<div class="col-1-2 reservation-selection-item">
    <p class="reservation-input-title">Weekend Closing: </p>
    <span class="reservation-input">
            <input type="text" data-field="time" value="{{formatTime weekendDaysClosingHour}}" name="weekendDaysClosingHour" readonly>
            <!--label for="weekendDaysClosingHour" class="fa fa-caret-down"></label-->
        </span>
</div>


<div class="date-picker-box" id="dtBoxAdmin">
    <div class="dtpicker-subcontent">
        <div class="dtpicker-header">
            <div class="dtpicker-title">Set Time</div>
            <a class="dtpicker-close">×</a>
            <div class="dtpicker-value"></div>
        </div>
        <div class="dtpicker-components">
            <div class="dtpicker-compOutline dtpicker-comp2">
                <div class="dtpicker-comp hour">
                    <a class="dtpicker-compButton increment dtpicker-compButtonEnable">+</a>
                    <input type="text" class="dtpicker-compValue">
                    <a class="dtpicker-compButton decrement dtpicker-compButtonEnable">-</a>
                </div>
            </div>
            <div class="dtpicker-compOutline dtpicker-comp2">
                <div class="dtpicker-comp minutes">
                    <a class="dtpicker-compButton increment dtpicker-compButtonEnable">+</a>
                    <input type="text" class="dtpicker-compValue">
                    <a class="dtpicker-compButton decrement dtpicker-compButtonEnable">-</a>
                </div>
            </div>
        </div>
        <div class="dtpicker-buttonCont dtpicker-twoButtons">
            <a class="dtpicker-button dtpicker-buttonSet">Set</a>
            <a class="dtpicker-button dtpicker-buttonClear">Clear</a>
        </div>
    </div>
</div>