.admin-submit {
    background-color: #2DCC70;
    border-radius: 10px;
    height: 5%;
    width: 20%;
    outline: none;
    border: none;
    color: #FFFEFD;
    float: left;
    font-size: 18px;
}

.description-area{
    display: block;
    margin-top: 10px;
}

.update-form section{
    width: 100%;
    margin : 10px;
}

#update-form{
    padding-bottom: 20px;
}

#update-form section input{
    margin: 10px auto;
    display: inline-block;
    border: 1px solid #eee;
    padding: 10px 25px 10px 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
    font-size: 12px;
    color: #444;
}
#update-form #schedule-form input {
    width: 75px;
}
#update-form section img{
    margin: 0 auto;
    max-width: 100%;
}

#description-form textarea{
    resize: none;
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
}
#description-form input{
    border : none;
}

.border-red{
    opacity: 0.7;
}
.select{
    padding-right: 10px;
    margin-top: 10px;
    min-height: 80px;
    max-height: 80px;
}
.mySlides{
    min-height: 400px;
    max-height: 400px;
    padding-bottom: 10px;
}

input.btn-light{
    height: 10%;
}
#feature-form #filter{
    position: inherit;
}

#feature-form label {
    font-size: 12px;
    text-transform: lowercase;
    cursor: pointer;
    color: #333;
    top: 10px;
    margin-left: 5px;
    margin-top: 9px;
}
#update-form #feature-form input[type="checkbox"]{
    width: auto;
}

#map,
#map2{
    min-height: 300px;
    height: 100%;
}

#img-path{
    width: 60%;
    height: 25px;
    resize: none;
}

#description{
    width : 100%;
    height : 30%;
}
#linkSocial,
#name {
    width : 100%;
}

.update-separator {
    height: 10px;
    color: #2DCC71;
    padding-bottom: 3%;
    font-weight: bold;
    font-size: 20px;
    border-bottom: 1px solid #CCC;
    border-width: 0 0 1px 0;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-top: 10px;
}

.update-separator:first-of-type {
    margin-top: 0;
}

.ticket{
    width: 100%;
    text-align:center;
    margin-bottom: 5px;
    box-sizing: border-box;
    color: #2DCC71;
    display: inline-block;
    border-bottom: 1px solid #CCC;
}

.ticket textarea{
    width: 80%;
    max-height: 80%;
    resize: none;
    padding: 5px;
    margin: 5px;
}

.ticket label{
    display: inline-block;
    margin-top: 5px;
}

.ticket button{
    margin: 5px auto;
    height: 30px;
    padding: 5px;
    font-size: 10px;
    border-radius: 0%;
}

.DENIED-ticket{
    background-color: crimson;
    border: 0;
}
.DENIED-ticket label{
    color: black;
}

.CONFIRMED-ticket{
    background-color: #2DCC71;
}
.CONFIRMED-ticket label{
    color: white;
}

#schedule-form .reservation-input-title{
    font-size: 14px;
}

.select-container a{
    display: inline-block;
    color: #DDD;
    font-size: 75px;
    vertical-align: middle;
    float: left;
    line-height: 82px;
}

.img-group {
    position: relative;
    display: inline-block;
    float: left;
}
.delete-img-button:before {
    content: '✕';
}
.delete-img-button {
    position: absolute;
    top: 0;
    right: 10px;
    background-color: rgba(45,204,113,0.6);
    opacity: 1;
    padding: 1px 3px;
    border-radius: 0;
    cursor: pointer;
    color: white;
    display: inline-block;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.9);
}

#pictures-form label{

}
#pictures-form textarea{
    resize: none;
    border: none;
}

#schedule-form input{
    width: 20%;
    text-align: center;
    font-size: 20px;
    border: none;
}
#schedule-form span label{
    font-size: 18px;
    position: absolute;
    right: 10px;
    top: 6px;
}
#schedule-form .reservation-input{
    position: relative;
}

#address-form input{
    width:40%;
}

@media handheld, only screen and (max-width: 767px) {
    #address-form #street{
        width: 100%;
    }
}

#update-form #schedule-form .reservation-input {
    position: relative;
}
#update-form #schedule-form .reservation-input:after {
    position: absolute;
    top: 50%;
    content: '\f0d7';
    font-family: 'FontAwesome';
    right: 5px;
    line-height: 50%;
}

.wrapper-main{
    padding-left: 10px;
}