.animated {
    -webkit-animation-duration: .5s;
    -moz-animation-duration: .5s;
    -o-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes slideDown {
    0% {
        -webkit-transform: translateY(-100%);
    }
    100% {
        -webkit-transform: translateY(0);
    }
}
@-moz-keyframes slideDown {
    0% {
        -moz-transform: translateY(-100%);
    }
    100% {
        -moz-transform: translateY(0);
    }
}
@-o-keyframes slideDown {
    0% {
        -o-transform: translateY(-100%);
    }
    100% {
        -o-transform: translateY(0);
    }
}
@keyframes slideDown {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}
.animated.slideDown {
    -webkit-animation-name: slideDown;
    -moz-animation-name: slideDown;
    -o-animation-name: slideDown;
    animation-name: slideDown;
}
@-webkit-keyframes slideUp {
    0% {
        -webkit-transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-100%);
    }
}
@-moz-keyframes slideUp {
    0% {
        -moz-transform: translateY(0);
    }
    100% {
        -moz-transform: translateY(-100%);
    }
}
@-o-keyframes slideUp {
    0% {
        -o-transform: translateY(0);
    }
    100% {
        -o-transform: translateY(-100%);
    }
}
@keyframes slideUp {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}
.animated.slideUp {
    -webkit-animation-name: slideUp;
    -moz-animation-name: slideUp;
    -o-animation-name: slideUp;
    animation-name: slideUp;
}

.bt-menu-trigger {
    position: relative;
    display: inline-block;
    width: 2em;
    height: 2em;
    padding-top: 10px;
    margin-left: 5px;
    cursor: pointer;
    -webkit-transition-duration: 0.8s;
    transition-duration: 0.8s;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}
.bt-menu-trigger:hover {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.bt-menu-trigger span {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 100%;
    height: 0.2em;
    margin-top: -0.1em;
    background-color: #fff;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: background-color 0.8s;
    transition: background-color 0.8s;
}

.bt-menu-trigger span:after,
.bt-menu-trigger span:before {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    content: '';
    -webkit-transition: -webkit-transform 0.8s;
    transition: transform 0.8s;
}

.bt-menu-trigger span:before {
    -webkit-transform: translateY(-0.5em);
    transform: translateY(-0.5em);
}

.bt-menu-trigger span:after {
    -webkit-transform: translateY(0.5em);
    transform: translateY(0.5em);
}

.bt-menu-trigger.bt-menu-open span:before {
    -webkit-transform: translateY(-0.36em) translateX(0.65em) rotate(45deg) scaleX(0.6);
    transform: translateY(-0.35em) translateX(0.65em) rotate(45deg) scaleX(0.6);
}

.bt-menu-trigger.bt-menu-open span:after {
    -webkit-transform: translateY(0.36em) translateX(0.65em) rotate(-45deg) scaleX(0.6);
    transform: translateY(0.35em) translateX(0.65em) rotate(-45deg) scaleX(0.6);
}

