a {
    text-decoration: none;
    color: inherit;
}

.reservation-selection-item select,
.reservation-selection-item input {
    outline: none;
    border: none;
    -moz-appearance: none; /* Firefox */
    -webkit-appearance: none; /* Safari and Chrome */
}

.topMenuInnerContainer{
    min-height: 290px;
}

.topMenuSocialIcon {
    display: inline-block;
    vertical-align: middle;
    width: 32px;
    margin-right: 19px;
    height: 50px;
    background: no-repeat center center;
}

.topMenuSocialMediaWrap {
    text-align: left;
}

.headerLogo {
    width:100%;
    height: 100%;
    max-height: 100px;
    top: 40%;
}

.topMenuLogo {
    text-align: center;
    padding-top: 30px;
}

.topMenuHL {
    background: #F9F9F9;
}

.topMenuContainer {
    text-align: center;
    min-height: 290px;
    margin-top: 20px;
    width: 100%;
    background: #FFFFFF;
}

.topMenuColumn {
    padding-top: 10px;
    border-left: 1px solid #a1a1a1;
    display: table;
    text-align: left;
    min-height: 20px;
    padding-left: 100px;
    color: #000000;
    line-height: 40px;
}

.topMenuHeader {
    color: #010101;
    font-weight: bold;
    font-size: 22px;
    display: inline-block;
    width: 90%;
    text-align: center;
}

html,
body {
    height: 100%;
    font-family: "Open Sans", cursive;
}

.hidden {
    display: none !important;
}

#filter {
    position: absolute;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: white;
}

.clearfix:after {
    content: " ";
    display: table;
    clear: both;
}

.bold {
    font-weight: 900;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #AAAAAA;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #AAAAAA;
    opacity: 1;

}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #AAAAAA;
    opacity: 1;

}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #AAAAAA;
}

header ::-webkit-input-placeholder {
    padding-left: 0;
}

.line-separator {
    width: 100%;
    height: 1px;
    background-color: #696969;
    margin: 10px auto;
}

.line-separator:last-of-type{
    display: none;
}

.filter-title {
    box-sizing: border-box;
    color: #363637;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 75px;
    margin: 0 auto;
}

.filter-homepage{
    padding-right: 10px;
}

header {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 30%;
    min-height: 20%;
    color: white;
}

.header-div{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    min-height: 100%;
    color: white;
}
header#head div.header-div img {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
}

header img{
    position: absolute;
    height: auto;
    width: 100%;
    display: block;
    /*max-height:200px;*/
}

header#head div.header-div div.user-details div#photo img{
    position: relative;
    float: left;
    border-radius: 27px;
    margin-right: 15px;
    border: 1px solid #FFFFFF;
}
.close-nav {
    display: inline-block;
    color: #666;
    padding: 15px;
    outline: none;
    text-decoration: none;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    z-index: 1;
    box-sizing: border-box;
}

.header-search-form {
    width: 100%;
    height: 36px;
    position: relative;
    box-sizing: border-box;
    max-width: 350px;
}

.header-search-form i {
    padding: 10px;
    box-sizing: border-box;
    width: 35px;
}

.header-search-form input {
    font-family: inherit;
    padding: 0;
    outline: none;
}

.header-search-input {
    background: transparent;
    border: none;
    color: white;
    outline: none;
    width: 63%;
    height: 100%;
    position: absolute;
    padding: 0;
    box-sizing: border-box;
}

#mainContainer {
    min-width: 100%;
    padding-left: 0;
    padding-right: 0;
    min-height: 50%;
}

.most-popular-restaurant {
    padding: 20px 10px 10px;
    text-align: center;
    margin: 0 auto;
}

.most-popular-restaurant img {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    width: 100%;
    max-width: 450px;
    max-height: 250px;
}

.filter-search {
    width: 100%;
    height: auto;
    background: #E3E3E3;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 50px;
}

.fa-search:before,
.fa-sliders:before {
    margin-right: 10px;
}

.full-width {
    max-width: 100%;
}

.restaurant-item-list {
    position: relative;
    min-height: 200px;
    height: 285px;
    background-color: #000;
    margin-top: 25px;
}

.restaurant-anchor {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    text-decoration: none;
}

.restaurant-name {
    position: absolute;
    top: 35%;
    left: 0;
    right: 0;
    z-index: 1;
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}

.restaurant-details {
    position: absolute;
    right: 0;
    left: 0;
    display: block;
    margin:0 auto;
    top: 50%;
    z-index: 1;
    text-align: center;
}

.restaurant-detail-item {
    display: inline-block;
    float-offset: 10px;
    width: auto;
    padding: 5px 10px;
    margin: 3px 0;
    background-color: #222222;
    opacity: 0.8;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
}

.restaurant-image {
    opacity: 0.7;
    position: absolute;
    top: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 100%;
}

.restaurant-list-top-title {
    float: right;
    padding: 10px 35px;
    margin: 5px 10px;
    color: #222222;
    font-size: 20px;
    font-family: "Open Sans", cursive;
    font-style: normal;
    font-variant: normal;
}

.subscription {
    text-align: center;
}

.subscription-form-wrapper {
    text-align: center;
    padding: 40px;
    padding-bottom: 20px;
}

.subscription-body {
    background-color: #E3E3E3;
    min-height: 290px;
    margin-top: 20px;
}

.subscription-headline {
    font-size: 24px;
    line-height: 26px;
}

.subscription-form-wrapper p {
    font-size: 20px;
    color: #909090;
}

.subscription-container form {
    padding: 5px;
}

.newsletter-email {
    box-sizing: border-box;
    border-radius: 10px 0 0 10px;
    height: 50px;
    border: none;
    margin-right: 0;
    outline: none;
    color: #848484;
    float: left;
    width: 60%;
    padding-left: 20px;
    font-size: 18px;
}

.newsletter-submit {
    background-color: #2DCC70;
    border-radius: 0 10px 10px 0;
    height: 50px;
    width: 40%;
    outline: none;
    border: none;
    color: #FFFEFD;
    float: left;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
    font-size: 18px;
}

.newsletter-submit:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.search-bar input {
    width: 100%;
    padding-left: 20px;
    color: #AAAAAA;
}

.search-container {
    position: absolute;
    top: calc(50%);
    width: 350px;
    height: 36px;
    margin: 0 auto;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.7);
    left: calc(50% - 175px);
}

.search-bar input {
    width: 100%;
}

.search-button {
    background-color: #00D070;
    color: white;
    border: none;
    height: 100%;
    width: calc(37% - 39px);
    position: absolute;
    right: 0;
    cursor: pointer;
}

#featured {
    margin: auto;
    max-width: 70%;
    position: relative;
}

.featured-link {
    position: relative;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#featured a {
    text-decoration: none;
    color: black;
}

.circle {
    position: relative;
    display: block;
    margin: auto;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: #00D070;
    font-size: 30px;
    text-align: center;
}

.fa-globe,
.fa-cog,
.fa-star {
    position: relative;
    margin-top: calc(35% - 8px);
    display: block;
    color: white;
}

.fa-facebook:before {
    margin-top: calc(50% - 8px);
    display: block;
}

.fa-twitter:before {
    margin-top: calc(50% - 8px);
    display: block;
}

.fa-pinterest-p:before {
    margin-top: calc(50% - 8px);
    display: block;
}

.fa-google-plus:before {
    margin-top: calc(50% - 8px);
    display: block;
}

.fa-linkedin:before {
    margin-top: calc(50% - 8px);
    display: block;
}

.fa-youtube:before {
    margin-top: calc(50% - 8px);
    display: block;
}

.smartest-choice,
.most-popular,
.most-visited {
    position: relative;
    text-align: center;
    font-size: 24px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.smartest-choice-bottom,
.most-popular-bottom,
.most-visited-bottom {
    position: relative;
    text-align: center;
    font-size: 16px;
}

.get-in-touch {
    min-width: 100%;
    text-align: center;
}

.get-in-touch .social-links {
    padding-bottom: 2em;
}

.get-in-touch .social-links a {
    padding: 1em;
    background-color: #2DCC71;
    border-radius: 50%;
    color: white;
    text-decoration: none;
    font-size: 16px;
    width: 20px;
    height: 20px;
    text-align: center;
    margin-right: 1em;
    margin-bottom: 1em;
}

.get-in-touch .social-links a:last-of-type {
    margin-right: 0;
}

.get-in-touch h3 {
    font-size: 24px;
    padding-bottom: 1em;
    padding-top: 2em;
}

.get-in-touch p {
    color: #D4D4D4;
    padding-bottom: 1em;
    font-size: 20px;
}

.site-footer {
    width: 100%;
    background: #E3E3E3;
    padding-bottom: 20px;
}

.footer-element a {
    text-decoration: none;
    color: #9b9b9b;
}

.footer-col {
    position: relative;
    margin: auto;
    max-width: 70%;
}

.filter-home-page {
    padding-left: 20px;
    margin-top: 20px;
}

.binding {
    box-sizing: border-box;
    color: #363637;
    cursor: pointer;
    font-size: 15px;
    font-style: normal;
    font-weight: normal;
    line-height: 19px;
    margin-bottom: 0;
    max-width: 100%;
    min-height: 20px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.2);
}

.checkbox-element {
    box-sizing: border-box;
    color: #363637;
    display: block;
    font-size: 15px;
    font-style: normal;
    font-weight: normal;
    line-height: 19px;
    margin: 7px 0;
    position: relative;
    padding-left: 15px;
    width: 100%;
}

.btn-light {
    background: #FFFFFF scroll;
    border: 1px solid #2DCC71;
    box-sizing: border-box;
    color: #2DCC71;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    font-weight: 500;
    height: 45px;
    margin: 19px 15px 19px 15px;
    outline: #2DCC71 none 0;
    padding: 10px 16px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.2);

}
.btn-green-profile{
    background: #2DCC71 scroll;
    /* border-radius: 27px; */
    border: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    font-weight: 500;
    height: 35px;
    margin-right:2px;
    outline: #FFFFFF none 0;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.btn-green {
    background: #2DCC71 scroll;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    font-weight: 500;
    height: 45px;
    margin: auto 0;
    outline: #FFFFFF none 0;
    padding: 10px 16px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.2);
}

.btn-red {
    background: #990000 scroll;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    font-weight: 500;
    height: 45px;
    margin: 19px 31px 19px 0;
    outline: #FFFFFF none 0;
    padding: 10px 16px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.2);
}

.btn-container {
    border-top: 1px solid #d8d8d8;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
}

.btn-align {
    position: relative;
    float: right;
}

.filter-title-container {
    background-color: #e3e3e3;
    width: 100%;
    top: 100px;
    min-height: 70px;
}


.filter-title-container p.fa-filter:before {
    font-family: FontAwesome;
    padding: 0 5px;
}

.filter-title-container p.fa-filter {
    display: block;
    text-align: center;
    font-size: 22px;
    Font-family: "Open Sans", cursive;
    line-height: 70px;
}

#filter-close {
    position: absolute;
    top: 0;
    left: 0;
}

.filter-criteria{
    padding-left: 10px;
}

.fa-times:before {
    display: inline-block;
    cursor: pointer;
    padding-left:15px;
    padding-top: 15px;
}

.disable-scroll {
    overflow-y: hidden;
}

.fa-filter:before{
    color: #2DCC71;
}

.filter-body{
    height: 100%;
    overflow-y: auto;
}

.relative{
    position: relative;
}

.reservation-container{
    max-width: 100%;
    position: relative;
    margin: auto;
}

.reservation-title {
    display: block;
    padding: 30px 50px;
    font-size: 30px;
    text-align: center;
}

.reservation-selections {
    display: block;
    margin: 0 auto;
    width: 80%;
}

.reservation-contact-details{
    display: block;
    margin: 0 auto;
    max-width: 70%;
    padding-bottom: 0;
}

.reservation-contact-item{
    text-align: center;
    font-size: 25px;
}

.reservation-selection-item {
    text-align: center;
    font-size: 14px;
    padding-bottom: 15px;
}

.reservation-selection-item select,
.reservation-selection-item input {
    width: 80%;
    color: #000;
}

.reservation-input-title {
    margin-bottom: 10px;
}

.reservation-input {
    font-size: 18px;
    color: #00D070;
    border-bottom: #00D070 1px solid;
}

.centered-text {
    text-align: center;
}

.reserve-button{
    position: relative;
    display: block;
    margin: 20px auto;
    padding: 15px 30px;
    text-align: center;
}

.reserve-button:active {
    background-color: #009c54;
    transform: translateY(4px);
}

.restaurant-details-container {
    height: 100%;
    overflow-y: auto;
}

.description-paragraph {
    display: block;
    width: 80%;
    margin: 0 auto;
}

#restaurantDetailsModal {
    position: absolute;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: white;
}

.fixed-nav-bar {
    position: fixed;
    height: 100%;
    width: auto;
    padding: 0 5px;
    background-color: rgba(211, 211, 211, 0.4);
    color: rgba(0, 208, 112, 1);
}

.nav-container {
    float: left;
}

.invisible {
    display: none;
}
.open-close-nav-container {
    height: 100%;
    float: left;
    display: table;
}

span.open-close-nav-container a {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    outline: none;
}

nav#navMenuForDetails ul {
    margin-top: 30px;
}

nav#navMenuForDetails ul li {
    font-size: 30px;
    color: #00D070;
    background: #fff;
    border-radius: 50%;
    line-height: 30px;
    width: 40px;
    height: 40px;
    margin: 10px 0;
}

.details-nav {
    display: block;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

.carousel-item {
    display: block;
    margin: 20px auto;
    width: 50%;
    min-height: 150px;
    max-height: 350px;
}

.details-container {
    display: block;
    width: 100%;
    margin: 0 auto;
}

.map-container {
    display: block;
    margin: 20px auto;
    width: 80%;
    height: 300px;
}

#mapDetailsPopup {
    min-height: 300px;
    height: 100%;
}

#mapDetails {
    height: 100%;
}

.details-icon {
    background-color: #2DCC71;
    border-radius: 50%;
    color: white;
    text-decoration: none;
    font-size: 16px;
    width: 40px;
    height: 40px;
    text-align: center;
    margin-right: 1em;
    margin-bottom: 1em;
}

.fa-check:before,
.fa-map:before,
.fa-clock-o:before,
.fa-phone:before,
.fa-cutlery:before {
    display: block;
    margin-top: calc(50% - 8px);
}

.details-paragraphs {
    color: #000;
    text-align: left;
}

.details-paragraphs-column {
    font-size: 14px;
    color: #000;
    text-align: center;
}

.details-title {
    border-top: solid 1px #D8D8D8;
    padding: 25px 0;
    margin-top: 30px;
    font-size: 24px;
    color: #000;
    text-align: center;
}

.text-indented {
    text-indent: 50px;
}

.details-cell {
    display: block;
    margin: 20px auto;
    text-align: center;
    font-size: 14px;
}

.dtpicker-title{
    color: #8E783E !important;
}

.dtpicker-components .dtpicker-comp>*{
    color: #8E783E !important;
}

.dtpicker-value{
    color: #00D070 !important;
}

.dtpicker-buttonCont .dtpicker-button{
    background: #00D070 !important;
}


.dtpicker-content{
    border-radius: 5px;
}

.button-login{

}
.button-login-container {
    position: absolute;
    top:0;
    right:0;
    padding: 1%;

}

div.stars {
    width: 270px;
}

.user-details{
    display: inline;
    position: relative;
    float: left;
}

.my-profile-button{
    position: relative;
    display: block;
    padding-top: 3px;
}

.modal {
    position: fixed; /* Stay in place */
    z-index: 5; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    overflow: auto;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#my-profile-modal{
    height: 30%;
}

.reservation-list{
    list-style: none;
}

.table-header-date{
    padding: 10px;
}

.reservation-restaurant,
.reservation-date,
.reservation-hour,
.reservation-status{
    padding: 5px;
}

.restaurants-my-profile{
    position: relative;
    height: 100%;
    display: block;
    width: auto;
}

.restaurant-item-list-profile{
    position: relative;
    min-height: 100px;
    background-color: #000;
    margin-top: 25px;
}

.evenodd tr:nth-child(odd){
    background-color: white;
}

.evenodd tr:nth-child(even){
    background-color: #E3E3E3;
}

input.ambienceStar,
input.foodStar,
input.serviceStar,
input.valueStar{
    display: none;
}
.user-details{
    /* display: inline; */
    float: left;
    margin-top: 15px;
}

.user-details-profile{
    display: inline;
    float: left;
    padding-right: 20px;
}

label.ambienceStar,
label.foodStar,
label.serviceStar,
label.valueStar{
    float: right;
    padding: 10px;
    font-size: 36px;
    color: #444;
    transition: all .2s;
}

input.foodStar:checked ~ label.foodStar:before,
input.valueStar:checked ~ label.valueStar:before,
input.ambienceStar:checked ~ label.ambienceStar:before,
input.serviceStar:checked ~ label.serviceStar:before{
    content: '\f005';
    color: #FD4;
    transition: all .25s;
}

input.foodStar-5:checked ~ label.foodStar:before,
input.valueStar-5:checked ~ label.valueStar:before,
input.ambienceStar-5:checked ~ label.ambienceStar:before,
input.serviceStar-5:checked ~ label.serviceStar:before{
    color: #FE7;
    text-shadow: 0 0 20px #952;
}

input.foodStar-1:checked ~ label.foodStar:before,
input.ambienceStar-1:checked ~ label.ambienceStar:before,
input.valueStar-1:checked ~ label.valueStar:before,
input.serviceStar-1:checked ~ label.serviceStar:before {
    color: #F62;
}

label.foodStar:hover,
label.ambienceStar:hover,
label.serviceStar:hover,
label.valueStar:hover {
    transform: rotate(-15deg) scale(1.3);
}


label.foodStar:before,
label.ambienceStar:before,
label.valueStar:before,
label.serviceStar:before {
    content: '\f006';
    font-family: FontAwesome;
}


.review-container{
    height:100%;
    width:100%;
}
.review-inner-container{
    position: relative;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: block;
    width: 270px;
}
.review-page-buttons{
    display: inline;
    width:100%;
    height:20%;
}
.noiselevel-dropdown {
    background-color: rgba(110, 255, 115, 0);
    color: black;
    padding: 10px;
    font-size: 16px;
    border-radius: 5%;
    cursor: pointer;
    width:50%;
}
.ratingSection {
    width: 80%;
    display: block;
    margin: 0 auto;
}

.ratingLeftText {
    padding-left: 15px;
    float: left;
    margin-right: 15px;
    color: #9a9a9a;
}

.innerLeftDiv {
    display: block;
    padding-top: 10px;
    width: 100%
}

.rating-div {
    overflow: hidden;
}

.ratingLeftBar {
    background-color: #00D070;
    width: 40px;
    height: 15px;
    margin: 0;
    border: 0;
}

.ratingHeaderText {
    font-size: 30px;
    font-weight: 400;
    padding-left:5%;
    padding-top: 20px;;
    padding-bottom:20px;
}

.innerRatingContainer {
    padding-top: 20px;
    margin-top: 20px;
    float: left;
}

.ratingCategory {
    margin-right: 20px;
    float: left;
    margin-left: 20px;
}

.ratingCategoryText{
    color: #b5b5b5;
    font-weight: 200;
    font-size: 14px;
    text-transform: lowercase;
}

.ratingCategoryValue {
    margin-top: 10px;
    font-weight: 200;
    font-size: 14px;
    color: #000;
}

.starRating{
    display: block;
    float: left;
    margin-left:20px;
    margin-bottom: 10px;
    padding-left: 20px;
}

.overAllRating {
    font-size: 45px;
    font-weight: 500;
    color: black;
    width: auto;
    display: block;
    float: left;
}

.ratingScore {
    width:15%;
}

.overAllRatingUpperContainer{
    display: block;
    margin: 0 auto;
    height: auto;
    width: 90%;
}
.star-ratings-css {
    unicode-bidi: bidi-override;
    color: #c5c5c5;
    font-size: 20px;
    height: 20px;
    width: 90px;
    margin: 0;
    position: relative;
    padding: 0;
    text-shadow: 0 1px 0 #a2a2a2;
}

.star-ratings-css-top {
    color: #00D070;
    padding: 0;
    text-shadow: 0 1px 0 #00a653;
    position: absolute;
    z-index: 1;
    display:block;
    left: 0;
    overflow: hidden;
}
.star-ratings-css-bottom { z-index: 0; }

.rating-section {
    overflow: auto;
}

.comments-section {
    width: 100%;
    content: "";
    margin: 20px auto;
}

.rating-section {
    width: 100%;
    content: "";
    margin: 0 auto;
}

.comments-section-container {
    display: block;
    width: 80%;
    margin: 0 auto;
}

.rating-section-container {
    display: block;
    width: 80%;
    margin: 0 auto;
    font-size: 14px;
}

.commentsMessageDiv{
    display: inline-block;
    vertical-align: top;
}

.commentsRatingDiv{
    width:19%;
    display: inline-block;
    padding-left: 10px;;
}

.ratingSeparator {
    padding-top: 5px;
}

.commentHeader {
    width:100%;
}
.commentStars {
    float: left;
}

.grayCommentStars {
    width:10%;
}

.userIcon {
    padding-top: 5px;
}

.commentContainer {
    margin: 10px 0;
    display: block;
    overflow: hidden;
    font-size: 14px;
}

.commentMessageParagraph{
    font-size: 14px;
    padding-top: 10px;
    font-weight: 200;
    word-wrap: break-word;;
}

.commentDate {
    display: inline-block;
    padding-left: 5px;
}

.commentScoreFont {
    color: #000;
    font-weight: 400;
    font-size: 14px;
}

.error-text {
    margin-top: 15px;
    font-size: 14px !important;
    color: #cc1c1c;
    text-align: left;
    margin-left: 15px;
}

.featuredButton {
    background:none;
    border:none;
    outline: none;
}

.circle:hover {
    background-color: #00be62
}

.circle:active {
    background-color: #009c54;
    transform: translateY(4px);
}

.rating-statistic {
    margin: 0;
    border: none;
    width: auto;
    background:#00D070;
    height: 15px;
}

.review-message {
    width: 270px;
}

.review-message-header {
    padding-bottom: 10px
}
.fa-rocket{
    position: absolute;
    top: 10px;
    padding: 10px;
    background-color: #2DCC71;
    border-bottom-right-radius: 25%;
    border-top-right-radius: 25%;
}


.my-profile-button{
    position: relative;
    display: block;
    padding-top: 3px;
}

.modal {
    position: fixed; /* Stay in place */
    z-index: 5; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    height: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#my-profile-modal{
    height: 30%;
}

.user-photo{
    position: relative;
}



.profile-review{
    position: relative;
    float: right;
    width: 100px;
    height: 100px;
    display: block;
}

.reservation-status{
    white-space: nowrap;
}
.home-page-button-container{
    margin:0;
    padding:0;
}
.review-page-information{
    position: relative;
    text-align: center;
}

.fa-info-circle:before {
    content: "\f05a";
    padding-right: 15px;
}

.green-text {
    color: #00a653;
}

a.fa-rocket:hover {
    background-color: #ffffff;
    color: #00a653;
}

a.fa-rocket:active {
    background-color: #ffffff;
    color: #00a653;
    transform: translateY(4px);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#popupInnerConfirmation {
    width: 40%;
    height: auto;
}

.popup-title {
    font-size: 22px;
    font-weight: 300;
    color: #000000;
    text-align: center;
}

.popup-category {
    font-size: 18px;
    color: #00a653;
    text-indent: 50px;
}

.popup-category-text {
    font-size: 16px;
    color: #000;
    text-align: justify;
}

#restaurants div ul li:last-child {
    padding-right: 20px;
}

.reservation-selections .grid {
    clear:none;
}

@media handheld, only screen and (max-width: 767px) {
    .owl-buttons {
        display: none;
    }
}

.owl-controls {
    margin: 0;
}

.owl-controls .owl-nav [class*=owl-] {
    background: #FFF;
    color: #3F4044;
    font-size: 12px;
    padding: 7px 9px 7px 8px;
    border-radius: 0;
}

.owl-controls .owl-nav [class*=owl-]:hover {
    background: #FFF;
    color: #FFF;
}

.owl-controls .owl-prev,
.owl-controls .owl-next {
    position: absolute;
    top: 0;
    bottom: 0;
    font-size: 25px !important;
    width: 25px;
    height: 40px;
    line-height: 40px;
    margin: auto !important;
}

.owl-controls .owl-prev {
    left: 10%;
}

.owl-controls .owl-next {
    right: 10%;
}

.owl-controls .owl-dots {
    display: none !important;
}