.popup {
    z-index: 2;
    width:100%;
    height:100%;
    display:none;
    position:fixed;
    top:0;
    left:0;
    background:rgba(0,0,0,0.75);
}

/* Inner */
.popup-inner {
    width:90%;
    height: 70%;
    padding:20px;
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    box-shadow:3px 2px 6px rgba(0,0,0,1);
    border-radius:3px;
    background:#fff;
    box-sizing: border-box;
}

/* Close Button */
.popup-close {
    width:30px;
    height:30px;
    padding-top:4px;
    display:inline-block;
    position:absolute;
    top: 0;
    right: 0;
    transition:ease 0.25s;
    -webkit-transform:translate(50%, -50%);
    transform:translate(50%, -50%);
    border-radius:1000px;
    background:rgba(0,0,0,0.8);
    font-size:20px;
    text-align:center;
    line-height:100%;
    color:#fff;
}

.popup-close:hover {
    -webkit-transform:translate(50%, -50%) rotate(180deg);
    transform:translate(50%, -50%) rotate(180deg);
    background:rgba(0,0,0,1);
    text-decoration:none;
}